{
  "name": "notification-{id}",
  "version": "{version}",
  "description": "{name} - {description}",
  "license": "MIT",
  "author": {
    "name": "{authorName}",
    "email": "{authorEmail}"
  },
  "files": [
    "notification.ts",
    "audios"
  ],
  "type": "module",
  "omp": {
    "extensions": [
      "./extensions/notification.ts"
    ]
  }
}
